@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Are you looking to watch a movie? </h1>
    <p class="lead">BlueVelvet rental store offers you the most recent movies to rent. All you need to do is sign up today and rent any movie that you want. </p>
    <p>With a collection of thousand of movies you can easily find the movie you're looking for.</p>
    <p>Do you have a rental account? If not, you can always <a href="@Url.Action("Register","Account")" class="btn btn-primary btn-large"> Sign up!</a></p>
</div>


<div class="row">
    <div class="col-md-4">
        <h2>Browse Classics</h2>
        <p>Looking for an oldie, but goodie? Browse here..</p>
        <p><a class="btn btn-default" href="/Movies">Learn more &raquo;</a></p>
    </div>
</div>