@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Are you looking to watch a movie? </h1>
    <p class="lead">BlueVelvet rental store offers you the most recent movies to rent. All you need to do is sign up today and rent any movie that you want. </p>
    <p>With a collection of thousand of movies you can easily find the movie you're looking for.</p>
    <p>Do you have a rental account? If not, you can always <a href="@Url.Action("Register","Account")" class="btn btn-primary btn-large"> Sign up!</a></p>
</div>


<div class="row">
    <div class="col-md-4">
        <h2>Latest movies</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Most popular movies</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Browse Classics</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>